html,body {
  width: 100%;
  height: 100%;
}
body {
  clear: both;
  font-family: "Roboto";
}

.main-content {
  float: right;
  width:70%;
  background-color: #FFF;
  left: 30%;
  top:10%;
  bottom:0;
  position:fixed;
}}no

.sidebar {
  float:left;
  width:30%;
  left:0;
  top:10%;
  bottom:0;
  background-color: #d32f2f;
  position: fixed;
}

p {
  color:#555;
  font-size: 2em;
  text-align: center;
}

header {
  position: fixed;
  left:0;
  right:0;
  height:10%;
  background: #000000;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}
